:root {
  --stageW: 1080px;
  --stageH: 1920px;

  /* 文字樣式（你可依版面改） */
  --mins-font: 36px;
  --mins-line: 54px;

  /* 符號跳動強度 */
  --symbol-opacity: 0.9;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

/* 塞滿螢幕，stage 由 JS 做 scale */
#viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  left: 34%;
}

/* 設計稿本體 */
.stage {
  width: var(--stageW);
  height: var(--stageH);
  position: relative;
  background: #fff;
  transform-origin: top left;
  overflow: hidden;
}

/* 底圖 */
.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

/* 外框 */
.bg_frame {
  position: absolute;
  left: 0px;
  top: -2px;
  right: 70px;
  bottom: 90px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  z-index: 2;
}

/* 四角 PNG */
.corner-icon {
  position: absolute;
  left: 70px;
  top: 70px;
  height: auto;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}

.loading-logo {
  position: relative;
  left: 38%;
  top: 10%;
}

.decoration-left {
  z-index: 99;
  position: relative;
  left: 0.2%;
  top: -3000px;
  border-image-repeat: repeat;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateY(-11em);
  }
  to {
    transform: translateY(8em);
  }
}
.decoration-right {
  z-index: 99;
  position: relative;
  left: 84%;
  top: -3000px;
  border-image-repeat: repeat;
  animation: marqueeup 5s linear infinite;
}

@keyframes marqueeup {
  from {
    transform: translateY(8em);
  }
  to {
    transform: translateY(-11em);
  }
}

.loading-text {
  position: relative;
  top: -229%;
  left: -25%;
  z-index: 999;
  transform-origin: center center; /* 原地縮放 */
  animation: pulse 1.8s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  } /* 放大比例可調 */
  100% {
    transform: scale(1);
  }
}

.hourglass {
  width: 60%;
  z-index: 99;
  position: relative;
  top: -237%;
  left: 20%;
}
